Espresso,Espresso(Ethiopia),100
Espresso Con Panna,Espresso(Ethiopia),100,Whipped Cream,20
Espresso Macchiato,Espresso(Ethiopia),100,Milk Foam,20
Caffe Latte,Espresso(Ethiopia),100,Steamed Milk,100,Milk Foam,20
Flat White,Espresso(Ethiopia),100,Steamed Milk,100
Cafe Breve,Espresso(Ethiopia),100,Steamed Half-And-Half,100,Milk Foam,20
Cappuccino,Espresso(Ethiopia),100,Steamed Milk,50,Milk Foam,50
Caffe Mocha,Espresso(Ethiopia),100,Chocolate Syrup,20,Steamed Milk,50,Whipped Cream,20
Americano,Espresso(Ethiopia),100,Water,200
Brazil Espresso,Espresso(Brazil),100
Brazil Espresso Con Panna,Espresso(Brazil),100,Whipped Cream,20
Brazil Espresso Macchiato,Espresso(Brazil),100,Milk Foam,20
Braizl Caffe Latte,Espresso(Brazil),100,Steamed Milk,100,Milk Foam,20
Braizl Flat White,Espresso(Brazil),100,Steamed Milk,100
Brazil Cafe Breve,Espresso(Brazil),100,Steamed Half-And-Half,100,Milk Foam,20
Brazil Cappuccino,Espresso(Brazil),100,Steamed Milk,50,Milk Foam,50
Brazil Caffe Mocha,Espresso(Brazil),100,Chocolate Syrup,20,Steamed Milk,50,Whipped Cream,20
Brazil Americano,Espresso(Brazil),100,Water,200