Espresso,Espresso,100
Espresso Con Panna,Espresso,100,Whipped Cream,20
Espresso Macchiato,Espresso,100,Milk Foam,20
Caffe Latte,Espresso,100,Steamed Milk,100,Milk Foam,20
Flat White,Espresso,100,Steamed Milk,100
Cafe Breve,Espresso,100,Steamed Half-And-Half,100,Milk Foam,20
Cappuccino,Espresso,100,Steamed Milk,50,Milk Foam,50
Caffe Mocha,Espresso,100,Chocolate Syrup,20,Steamed Milk,50,Whipped Cream,20
Americano,Espresso,100,Water,200